localhost:8080 {
    respond "CDN's ACTIVE!"
}

# www'den ana domaine kalıcı yönlendirme (301)
www.ybt.net.tr {
    redir https://ybt.net.tr{uri} permanent
}

# Ana domain, proxy ve TLS yönetimi burada
ybt.net.tr {
    reverse_proxy 213.238.180.207 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }

    tls info@ybt.net.tr

    handle /.well-known/acme-challenge/* {
        root * /var/www/vhosts/ybt.net.tr/httpdocs
        file_server
        try_files {path} =404
    }
}

# sunucu.us -> 135.181.56.220 yönlendir
sunucu.us {
    reverse_proxy 135.181.56.220
}

# betsolosite.com, betsologiris.com, betsologuncel.com -> 135.181.56.214 yönlendir
betsolosite.com, betsologiris.com, betsologuncel.com {
    reverse_proxy 135.181.56.214
}